.site-Body{
    display: inline-block;
    width:max-content;
    height:auto;
}
#navbar-css{
    padding:5vh;
    background-color: rgb(179, 188, 205);
}
#brand{
    font-weight: bolder;
    font-style: italic;
    font: 2em sans-serif; 
    color: rgb(255, 83, 83);   
}
#video{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}
.menu-card {
    height: 350px;
    display: flex;
    flex-direction: column;
  }
  
  .card-img-top {
    object-fit: cover;
    height: 200px;
  }
body{
    background-color: white;
    color: black;
}